.l_icon {
    text-align: center; 
    vertical-align: middle;
    line-height: 150%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
  .l_icon img {
    max-width: 55px; 
    min-width:30px;
    max-height: 55px; 
    min-width:30px;
    margin: 5px;
    vertical-align: middle;
}

.skill-section{
    text-align: center;
    display: flex;
    flex-direction: column;
}